body {
  font-size: 14px;
}

.container {
  width: 728px;
  margin: 30px auto;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  letter-spacing: 1px;
}

.menu a {
  width: 180px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 8px 0;
  color: #333;
  border-radius: 4px 4px 0 0;
}

.menu a.active {
  color: #fff;
  background: #333;
}

.menu a.left {
  display: flex;
  padding-left: 8px;
}

.menu a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.content.active {
  color: #fff;
  background: #333;
  display: block;
  min-height: 150px;
}

.content {
  display: none;
  padding: 12px;
  letter-spacing: 3px;
}
